:root {
    --true-white: #FFF;
    --white: #F1F2F8;
    --off-white: #E2E8F0;
    --light-grey: #CED5DB;
    --grey: #94A3B8;
    --black: #000;
    --blue: #0706FF;
    --red: #F87171;
    --faint-red: rgba(248, 113, 113, 0.1);

    --font-size-small: 16px;
    --font-size-middle: 24px;
    --font-size-large: 32px;
    --font-size-huge: 40px;

    --font-family: Inter, sans-serif;

    --radius-normal: 24px;
    --radius-small: 12px;

    --stroke-width: 3;
    --stroke-dash: 6 12;
}
