.container {
  background: var(--true-white);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  margin: 16px 16px 24px;
}

.controlGroup {
  padding: 8px 8px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.divider {
  padding: 0 8px;
}

.dividerLine {
  height: 100%;
  width: 1px;
  background: var(--white);
}

.numberInput {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.numberControls {
  background: var(--white);
  border-radius: 2px;
  font-weight: 700;
  overflow: hidden;
}

.numberButton {
  border: none;
  background: var(--white);

  span {
    display: block;
    transform: translateY(-1px);
  }
}

.numberValue {
  background: var(--blue);
  border-radius: 2px;
  color: var(--white);
  padding: 0 4px;
  font-variant-numeric: tabular-nums;
}

.checkboxLabel {
  display: flex;
  gap: 4px;
  font-weight: 700;
}

.checkboxInput {
  accent-color: var(--blue);
}