.container {
  background: var(--true-white);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  margin: 16px 16px 24px;
}

.controlGroup {
  padding: 8px 8px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.divider {
  padding: 0 8px;
}

.dividerLine {
  height: 100%;
  width: 1px;
  background: var(--white);
}

.numberInputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.numberControls {
  background: var(--white);
  border-radius: 2px;
  font-weight: 700;
  overflow: hidden;
}

.numberButton {
  border: none;
  background: var(--white);
  padding: 0 6px;
  cursor: pointer;

  span {
    display: block;
    transform: translateY(-1px);
  }
}

.numberValue {
  display: inline-block;
  background: var(--blue);
  border-radius: 2px;
  color: var(--white);
  padding: 0 4px;
  font-variant-numeric: tabular-nums;
}

.numberInput {
  -moz-appearance:textfield;
  -webkit-appearance: none;
  appearance: none;
  width: 2.5rem;
  text-align: center;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  border: none;
  padding: 0 4px;
  margin: 0;
  background: transparent;
  background: var(--blue);
  border-radius: 2px;
  color: var(--white);
  font-variant-numeric: tabular-nums;
  font-weight: 700;

  &:focus{
    outline: none;
  }
}

.checkboxLabel {
  display: flex;
  gap: 4px;
  font-weight: 700;
  cursor: pointer;
}

.checkboxInput {
  accent-color: var(--blue);
  cursor: pointer;
}